#register{
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  

}
.button{
  display: flex;
  justify-content:space-around;

}
#content{
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button{  
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#buttoncustomerheading{
  border-top-left-radius: 5px;
}
#buttonsellerheading{
  border-top-right-radius: 5px;
}
